# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Summarize Data Science Tools and Ecosystems
- List popular languages for Data Science  
- Complete basic arithmetic expressions

1. Relational Databases
2. NoSQL Databases
3. MySQL

Some of the popular languages that Data Scientists use are:

1. R-language
2. C++
3. Python

|Data Science Tools|
|-----|
|MySQL|
|PostgreSQL|
|MongoDB|

### Below are a few exampls of evaluating arithmentic expression in Python.

In [11]:
# This is a simple arithmentic expression to multiply then add integers.
(3*4)+5

17

In [12]:
# This will convert 200 minuites to hours by dividing by 60.
200/60

3.3333333333333335

## Author:
Robert Lane